﻿
<div class="row">
    <div class="page-header center-block">
        <h1>Bookmarked Contacts</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-2"><h5>Name</h5></div>
            <div class="col-md-2"><h5>Surname</h5></div>
            <div class="col-md-2"><h5>Nickname</h5></div>
            <div class="col-md-4 centerContent"><h5>Contact options</h5></div>
            <div class="col-md-1"><h5>Bookmark</h5></div>
        </div>
        <hr>
        <div ng-repeat="contact in bookMarked">
            <div class="row oneContact">
                <div class="col-md-2"><h5>{{contact.name}}</h5></div>
                <div class="col-md-2"><h5>{{contact.surname}}</h5></div>
                <div class="col-md-2"><h5>{{contact.nickname}}</h5></div>
                <div class="col-md-4 centerContent">
                    <a class="btn btn-default" ng-click="detailsOfContact(contact.personID)">Details</a>
                    <button class="btn btn-default" value="Edit" ng-click="editContactFun(contact.personID)">Edit</button>
                    <button value="Delete" ng-click="deleteContact(contact.personID)">Delete</button>
                </div>
                <div class="col-md-1 centerContent"><input type="checkbox" value="isBokmarked" ng-model="contact.isBookmarked" ng-click="bookmarkContact(contact.personID)" /></div>

            </div>
        </div>
    </div>
</div>