﻿

<div class="row">
    <div class="page-header center-block">
        <h1>My Contacts</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-2"><h5>Name</h5></div>
            <div class="col-md-2"><h5>Surname</h5></div>
            <div class="col-md-2"><h5>Nickname</h5></div>
            <div class="col-md-4 centerContent"><h5>Contact options</h5></div>
            <div class="col-md-1"><h5>Bookmark</h5></div>
        </div>
        <hr>
        <div ng-repeat="contact in contacts">
            <div class="row oneContact">
                <div class="col-md-2"><h5>{{contact.name}}</h5></div>
                <div class="col-md-2"><h5>{{contact.surname}}</h5></div>
                <div class="col-md-2"><h5>{{contact.nickname}}</h5></div>
                <div class="col-md-4 centerContent">
                    <button class="btn btn-default" value="Details" ng-click="detailsOfContact(contact.personID)">Details</button>
                    <button class="btn btn-default" value="Edit" ng-click="editContactFun(contact.personID)">Edit</button>
                    <button class="btn btn-default" value="Delete" ng-click="deleteContact(contact.personID, $index)">Delete</button>
                </div>
                <div class="col-md-1 centerContent"><input type="checkbox" value="isBokmarked" ng-model="contact.isBookmarked" ng-click="bookmarkContact(contact.personID)" /></div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="btn-group-vertical" role="group" aria-label="...">
            <a href="#/EnterContact" class="btn btn-success">Add contact</a>
            <a class="btn btn-success" href="#/BookmarkedContacts">Bookmarks</a>
            <button class="btn btn-success" ng-click="getAllContacts()">Refrresh</button>
            <a href="#/SearchContacts" class="btn btn-success">Search For Contacts</a>   
        </div>
        
    </div>
</div>




