﻿<div class="jumbotron"><h1>Contact Details</h1></div>
<div class="page-content" ng-cloak>
    <div class="row">
        <div class="space-3"></div>
        <div class="col-sm-6 col-sm-offset-1">
            <fieldset>
                <form name="detailsContactForm" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-5 control-label no-padding-right" for="name">Name:</label>
                        <div class="col-sm-7">
                            <span class="block input-icon input-icon-right">{{contact.Person.name}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label no-padding-right" for="name">Surname:</label>
                        <div class="col-sm-7">
                            <span class="block input-icon input-icon-right" >{{contact.Person.surname}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label no-padding-right" for="name">Nickname</label>
                        <div class="col-sm-7">
                            <span class="block input-icon input-icon-right" ng-cloak>{{contact.Person.nickname}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label no-padding-right" for="name">City</label>
                        <div class="col-sm-7">
                            <span class="block input-icon input-icon-right">{{contact.Person.city}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label no-padding-right" for="name">Country</label>
                        <div class="col-sm-7">
                            <span class="block input-icon input-icon-right">{{contact.Person.country}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label no-padding-right" for="name">Adress</label>
                        <div class="col-sm-7">
                            <span class="block input-icon input-icon-right">{{contact.Person.adress}}</span>
                        </div>
                    </div>
                    <div>
                        <div ng-repeat="email in contact.Email">
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="email">Email<span ng-show="$index>0">{{$index}}</span>:</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right" ng-cloak>{{email.emailAdress}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div ng-repeat="phone in contact.Phone">
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="phone">Phone number<span ng-show="$index>0">{{$index}}</span>:</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">{{phone.phoneNumber}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div ng-repeat="tag in contact.Tag">
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="tag">Tag<span ng-show="$index>0">{{$index}}</span>:</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">{{tag.nameTag}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
</div>