﻿<div class="jumbotron"><h1>Enter Contact</h1></div>
<div class="page-content">
    <div class="row">
        <div class="space-3"></div>
        <div class="col-sm-6 col-sm-offset-1">
            <fieldset>
                <form name="createContactForm" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-5 control-label no-padding-right" for="name">Name:</label>
                        <div class="col-sm-7">
                            <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="Name" ng-model="contact.Person.name" maxlength="30" required />
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label no-padding-right" for="name">Surname:</label>
                        <div class="col-sm-7">
                            <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="Surname" ng-model="contact.Person.surname" maxlength="30" required />
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label no-padding-right" for="name">Nickname:</label>
                        <div class="col-sm-7">
                            <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="Nickname" ng-model="contact.Person.nickname" maxlength="15" />
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label no-padding-right" for="name">City:</label>
                        <div class="col-sm-7">
                            <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="City" ng-model="contact.Person.city" maxlength="15" />
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label no-padding-right" for="name">Country:</label>
                        <div class="col-sm-7">
                            <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="Country" ng-model="contact.Person.country" maxlength="15" />
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label no-padding-right" for="name">Adress:</label>
                        <div class="col-sm-7">
                            <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="Adress" ng-model="contact.Person.adress" maxlength="15"  />
                            </span>
                        </div>
                    </div>
                    <div>
                        <div ng-repeat="phone in contact.Phone">
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="phone">Phone number<span ng-show="$index>0">{{$index}}</span>:</label>
                                <div class="col-sm-7">
                                    <div class="input-group">
                                        <span class="block input-icon input-icon-right">
                                            <input type="text" class="form-control" placeholder="Phone Number" name="phone" ng-model="phone.phoneNumber" ng-change="removeIfEmptyPhone($first,$index)"/>
                                        </span>
                                        <span class="block input-group-btn">
                                            <button class="btn btn-danger form-control" ng-disabled="$first" ng-click="removePhoneNumber($index)">-</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-success" ng-show="$last && contact.Phone[$index].phoneNumber" ng-click="addPhoneNumber()">Add Phone Number</button>
                        </div>
                    </div>
                    <div>
                        <div ng-repeat="email in contact.Email">
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="email">Email<span ng-show="$index>0">{{$index}}</span>:</label>
                                <div class="col-sm-7">
                                    <div class="input-group">
                                        <span class="block input-icon input-icon-right">
                                            <input type="email" class="form-control" placeholder="Email" name="email" ng-model="email.emailAdress" focus  />
                                            <span ng-show="createContactForm.email.$error.email" class="help-inline">Neispravna e-mail adresa!</span>
                                        </span>
                                        <span class="block input-group-btn">
                                            <button class="btn btn-danger form-control" ng-disabled="$first" ng-click="removeEmail($index)">-</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-success" ng-show="$last && contact.Email[$index].emailAdress" ng-click="addEmailAdress()">Add Email Adress</button>
                        </div>

                    </div>
                    <div>
                        <div ng-repeat="tag in contact.Tag">
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="tag">Tag<span ng-show="$index>0">{{$index}}</span>:</label>
                                <div class="col-sm-7">
                                    <div class="input-group">
                                        <span class="block input-icon input-icon-right">
                                            <input type="text" class="form-control" placeholder="Tag" name="tag" ng-model="tag.nameTag" focus />
                                        </span>
                                        <span class="block input-group-btn">
                                            <button ng-disabled="$first" class="btn btn-danger form-control" ng-click="removeTag($index)">-</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-success" ng-show="$last && contact.Tag[$index].nameTag" ng-click="addNewTag()">Add New Tag</button>
                        </div>
                    </div>

        </div>
        {{contact.Tags}}
        <div class="form-group">
            <span class="lbl col-sm-5"> </span>
            <div class="col-sm-7">
                <span ng-show="errorContact" class="help-inline">{{status}}</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 col-md-5">
                <span class="block input-icon input-icon-right">
                    <button class="btn btn-warning btn-lg" ng-disabled="!contact.Person.name && !contact.Person.surname" ng-click="enterNewContact()">Create</button>
                </span>
            </div>
        </div>

        </form>
        </fieldset>


    </div>
</div>