﻿<div class="jumbotron"><h1>Search Contacts</h1></div>
<div class="row">
    <label class="control-label no-padding-right col-md-2" for="search">Search By:</label>
    <div class="col-md-4">
        <label class="radio-inline">
            <input type="radio" ng-model="searchOption.name" value="0" />
            Name
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="searchOption.name" value="1" />
            Surname
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="searchOption.name" value="2" />
            Tag
        </label>
    </div>
    <div class="col-md-2">
        <input type="text" placeholder="Search" naem="search" ng-model="searchValue" />
    </div>
    <div class="col-md-2">
        <button class="btn btn-default" ng-click="searchForContact()">Search!</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-2"><h5>Name</h5></div>
            <div class="col-md-2"><h5>Surname</h5></div>
            <div class="col-md-2"><h5>Nickname</h5></div>
            <div class="col-md-2"><h5>City</h5></div>
            <div class="col-md-3 centerContent"><h5>Contact options</h5></div>
            <div class="col-md-1"><h5>Bookmark</h5></div>
        </div>
        <hr>
        <div ng-repeat="result in searchResult">
            <div class="row oneContact">
                <div class="col-md-2"><h5>{{result.name}}</h5></div>
                <div class="col-md-2"><h5>{{result.surname}}</h5></div>
                <div class="col-md-2"><h5>{{result.nickname}}</h5></div>
                <div class="col-md-2"><h5>{{result.city}}</h5></div>
                <div class="col-md-3">
                    <button class="btn btn-default" value="Details" ng-click="detailsOfContact(result.personID)">Details</button>
                    <button class="btn btn-default" value="Edit" ng-click="editContactFun(result.personID)">Edit</button>
                    <button class="btn btn-default" value="Delete" ng-click="deleteContact(result.personID, $index)">Delete</button>
                </div>
                <div class="col-md-1 centerContent"><input type="checkbox" value="isBokmarked" ng-model="result.isBookmarked" ng-click="bookmarkContact(contact.personID)" /></div>

            </div>
        </div>
    </div>
</div>